<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Add Purchase Order Header</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
      integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/shards.min.css" />
  </head>
  <body>
    <div class="container my-5">
      <h2 class="mb-5">New Purchase Order Header</h2>
      <div class="row">
        <div class="col-md-6">
          <form
            action="#"
            th:action="@{/purchaseorderdetails/add/}"
            th:object="${purchaseorderdetail}"
            method="post"
          >
            <div class="row">
              <div class="form-group col-md-6">
                <label for="id" class="col-form-label">Id</label>
                <div></div>
                <input
                  type="number"
                  th:field="${pk.purchaseorderdetailid}"
                  class="form-control"
                  id="duedate"
                  placeholder="0"
                />
                <span
                  th:if="${#fields.hasErrors('id')}"
                  th:errors="*{id}"
                  class="text-danger"
                ></span>
              </div>
              <div class="form-group col-md-6">
                <label for="id" class="col-form-label">Purchase Order Header Id</label>
                <div></div>
                <select th:field="${pk.purchaseorderid}">
                  <option value="" th:text="-Select-"></option>
                  <option
                    th:each="p : ${purchaseorderheaders}"
                    th:value="${p.purchaseorderid}"
                    th:text="${p.purchaseorderid}"
                    class="form-control"
                  ></option>
                </select>
                <span
                  th:if="${#fields.hasErrors('id')}"
                  th:errors="*{id}"
                  class="text-danger"
                ></span>
              </div>
              <div class="form-group col-md-6">
                <label for="duedate" class="col-form-label">Due Date</label>
                <input
                  type="date"
                  th:field="*{duedate}"
                  class="form-control"
                  id="duedate"
                  placeholder="Date"
                />
                <span
                  th:if="${#fields.hasErrors('duedate')}"
                  th:errors="*{duedate}"
                  class="text-danger"
                ></span>
              </div>
              <div class="form-group col-md-6">
                <label for="orderqty" class="col-form-label">Order Quantity</label>
                <input
                  type="number"
                  th:field="*{orderqty}"
                  class="form-control"
                  id="orderqty"
                  placeholder="1"
                />
                <span
                  th:if="${#fields.hasErrors('orderqty')}"
                  th:errors="*{orderqty}"
                  class="text-danger"
                ></span>
              </div>
              <div class="form-group col-md-6">
                <label for="productid" class="col-form-label">Product Id</label>
                <input
                  type="number"
                  step="0"
                  th:field="*{productid}"
                  class="form-control"
                  id="productid"
                  placeholder="0"
                />
                <span
                  th:if="${#fields.hasErrors('productid')}"
                  th:errors="*{productid}"
                  class="text-danger"
                ></span>
              </div>
              <div class="form-group col-md-6">
                <label for="receivedqty" class="col-form-label">Received Quantity</label>
                <input
                  type="number"
                  step="0.1"
                  th:field="*{receivedqty}"
                  class="form-control"
                  id="receivedqty"
                  placeholder="0.1"
                />
                <span
                  th:if="${#fields.hasErrors('receivedqty')}"
                  th:errors="*{receivedqty}"
                  class="text-danger"
                ></span>
              </div>
              <div class="form-group col-md-6">
                <label for="rejectedqty" class="col-form-label">Rejected Quantity</label>
                <input
                  type="number"
                  step="0.1"
                  th:field="*{rejectedqty}"
                  class="form-control"
                  id="rejectedqty"
                  placeholder="0.1"
                />
                <span
                  th:if="${#fields.hasErrors('rejectedqty')}"
                  th:errors="*{rejectedqty}"
                  class="text-danger"
                ></span>
              </div>
              <div class="form-group col-md-6">
                <label for="unitprice" class="col-form-label">Unit Price</label>
                <input
                  type="number"
                  step="0.1"
                  th:field="*{unitprice}"
                  class="form-control"
                  id="unitprice"
                  placeholder="0.1"
                />
                <span
                  th:if="${#fields.hasErrors('unitprice')}"
                  th:errors="*{unitprice}"
                  class="text-danger"
                ></span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 mt-3">
                <input type="submit" name="action" class="btn btn-primary" value="Add" />
              </div>
              <div class="col-md-3 mt-3">
                <input type="reset" class="btn btn-secondary" value="Clear" />
              </div>
              <div class="col-md-3 mt-3">
                <input type="submit" name="action" class="btn btn-secondary" value="Cancel" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
