<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
      integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div th:switch="${apps}" class="container my-5">
      <div class="row">
        <div class="col-md-6">
          <h2 th:case="null">Menu</h2>
          <p>
            <a href="/vendors"><i class="fas fa-user-edit ml-2"></i> Go to Vendors</a>
          </p>
          <p sec:authorize="hasRole('ADMIN')">
            <a href="/shipmethods"><i class="fas fa-truck ml-2"></i> Go to Shipmethods</a>
          </p>
          <p>
            <a href="/purchaseorderheaders"
              ><i class="fas fa-file-contract ml-2"></i> Go to Purchase Order Headers</a
            >
          </p>
          <p>
            <a href="/purchaseorderdetails"
              ><i class="fas fa-file-alt ml-2"></i> Go to Purchase Order Details</a
            >
          </p>
          <p>
            <a href="/products"><i class="fas fa-file-alt ml-2"></i> Go to Products</a>
          </p>
          <p>
            <a href="/productreviews"><i class="fas fa-file-alt ml-2"></i> Go to Product Reviews</a>
          </p>
          <p>
            <a href="/billofmaterials"
              ><i class="fas fa-file-alt ml-2"></i> Go to Bill of Materials</a
            >
          </p>
          <p>
            <a href="/queries"><i class="fas fa-file-alt ml-2"></i> Go to Queries</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
